RewriteEngine on

RedirectMatch 403 ^/log/.*\.log

RewriteBase /

RewriteRule ^sitemap(-+([a-zA-Z0-9_-]+))?\.xml$ /blog/sitemap$1.xml [L]
RewriteRule ^terms-and-conditions/?$ /blog/terms-and-conditions/ [L]

RewriteRule case/(\d+)$ ?r=case&id=$1 [L]

RewriteRule ^registration/?$ ?registration=1 [L]

RewriteRule ^faq/?$ /blog/faq/ [L]
RewriteRule ^rules/?$ /blog/rules/ [L]

RewriteRule ^index\.php[/]*$ / [L,R=301]

RewriteCond %{THE_REQUEST} //
RewriteRule .* /$0 [R=301,L]

AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
SetOutputFilter DEFLATE

Redirect 301 /blog/prodvizhenie-aksessuarov-dlya-kompyuternyx-igr-ot-kampanii-proizvoditelya http://alfa-content.ru/case/1
Redirect 301 /blog/kampaniya-dlya-onlajn-servisa-gruzoperevozok http://alfa-content.ru/case/2
Redirect 301 /blog/prodvizhenie-konstruktora-sajtov-sredi-vebmasterov-chastnyx-predprinimatelej-i-vladelcev-malogo-biznesa http://alfa-content.ru/case/3
Redirect 301 /blog/kampaniya-dlya-onlajn-kursov-po-mnogochislennym-vidam-izobrazitelnogo-iskusstva http://alfa-content.ru/case/4
Redirect 301 /blog/prodvizhenie-stroitelnoj-kompanii http://alfa-content.ru/case/5
