RewriteEngine on

RedirectMatch 403 ^/log/.*\.log

RewriteBase /

RewriteRule ^sitemap(-+([a-zA-Z0-9_-]+))?\.xml$ /blog/sitemap$1.xml [L]
RewriteRule ^terms-and-conditions/?$ /blog/terms-and-conditions/ [L]
RewriteRule ^what-formats/(.+) /blog/what-formats/$1 [L]


RewriteRule case/(\d+)$ ?r=case&id=$1 [L]

RewriteRule ^registration/?$ ?registration=1 [L]

RewriteRule ^faq/?$ /blog/faq/ [L]
RewriteRule ^rules/?$ /blog/rules/ [L]

RewriteRule ^index\.php[/]*$ / [L,R=301]

RewriteCond %{THE_REQUEST} //
RewriteRule .* /$0 [R=301,L]

AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
SetOutputFilter DEFLATE



