<!-- .send-popup-->
<div id="ac-popup-casesend" class="ac-popup-modal popup-modal__casesend popup-modal__mini mfp-hide">
    <div class="container-modal">
        <div class="ac-popup-modal__header">
            <div class="col-12">
                <h2 class="ac-head ac-popup-modal__head">Отправить кейс по почте</h2>
            </div>
        </div><!-- /.ac-popup-modal__header -->
    </div><!-- /.container-modal -->
    <div class="ac-popup-modal__body">
        <div class="container-modal">
            <form id="ac-casesend-form" action="/?r=send-case" method="post" class="order-form-wapr casesend-ащкь">
                <input type="hidden" id="tariff" name="Client[tariff]">
                <div class="container-modal">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <input type="text" id="name" name="Client[name]" placeholder="Имя" class="form-control">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input type="email" id="email" name="Client[email]" placeholder="E-mail"  class="form-control">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input type="text" id="comment" name="Client[comment]" placeholder="Комментарий" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row bb1">
                        <div class="form-group">
                            <button class="btn send-case-user">Отправить кейс</button>
                        </div>
                    </div>
                </div>
            </form>
        </div> <!-- /.container-modal -->
    </div><!-- /.ac-popup-modal__body -->
</div>
<!-- /.send-popup-->
