<!-- .faq-block-->
<div class="faq-block ac-whatformats">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <h2 class="ac-head faq-head">FAQ: Вопросы и ответы</h2>
          </div>
      </div>
      <div class="row whatformats-red">
          <div class="col-3">
              <div class="whatformats-block wow fadeIn" data-wow-delay=".4s">
                  <div class="whatformats-block__header">
                      <div class="whatformats-block__head">
                          <h2 class="whatformats-block__head">Почему выгоднее работать в автоматизированных сервисах, а не с агентствами или фрилансерами?</h2>
                      </div>
                  </div>
                  <div class="whatformats-block__description">
                      <p class="whatformats-block__description-text">Автоматизация решает массу проблем. Во-первых, вы получаете полный контроль над рекламой своего сайта. Вам больше не нужно искать исполнителя, сомневаться в его надежности, ждать, пока он «созреет», чтобы начать работу над вашим проектом. Во-вторых, работа в автоматизированных сервисах прозрачная — доступна отчетность обо всех расходах за любой период в режиме онлайн. В-третьих, цены значительно ниже, чем в агентствах — в некоторых случаях экономия достигает 50%.</p><a href="#" title="Развернуть описание" class="ac-more-link"><span class="ac-more-link__circle ac-more-link__circle-green"></span><span class="ac-more-link__circle ac-more-link__circle-green"></span><span class="ac-more-link__circle ac-more-link__circle-green"></span><span class="ac-more-link__text hide-text">Развернуть описание</span></a>
                  </div>
              </div>
          </div>
          <div class="col-3">
              <div class="whatformats-block whatformats-block__nonono wow fadeIn" data-wow-delay=".5s">
                  <div class="whatformats-block__header">
                      <div class="whatformats-block__head">
                          <h2 class="whatformats-block__head">Каков минимальный бюджет, с которым я могу работать в автоматизированных системах?</h2>
                      </div>
                  </div>
                  <div class="whatformats-block__description">
                      <p class="whatformats-block__description-text">Доступ ко всем инструментам бесплатный, как и настройка рекламных кампаний. Вы сами выбираете сумму, с которой начнете работу в сервисах.</p>
                  </div>
              </div>
          </div>
          <div class="col-3">
              <div class="whatformats-block wow fadeIn" data-wow-delay=".6s">
                  <div class="whatformats-block__header">
                      <div class="whatformats-block__head">
                          <h2 class="whatformats-block__head">Я хочу охват/трафик/узнаваемость (что угодно)&nbsp;&mdash; как понять, какой сервис выбрать?</h2>
                      </div>
                  </div>
                  <div class="whatformats-block__description">
                      <p class="whatformats-block__description-text">Если нужно повысить узнаваемость и охват, вам поможет WebArtex. Здесь вы можете заказать рекламу на топовых каналах YouTube, в блогах и тематических группах в соцсетях. Для быстрого роста продаж подойдет Click.ru - автоматизированный сервис управления контекстной рекламой. Если же ваша цель —  продвинуть сайт в ТОП поисковой выдачи, чтобы получить стабильный трафик, лиды и продажи, вам нужен SeoPult. Здесь можно не только запустить SEO-кампанию, но и с помощью персонального менеджера улучшить сайт, чтобы он стал более привлекательным для поисковых систем и посетителей. </p><a href="#" title="Развернуть описание" class="ac-more-link"><span class="ac-more-link__circle ac-more-link__circle-green"></span><span class="ac-more-link__circle ac-more-link__circle-green"></span><span class="ac-more-link__circle ac-more-link__circle-green"></span><span class="ac-more-link__text hide-text">Развернуть описание</span></a>
                  </div>
              </div>
          </div>
          <div class="col-3">
              <div class="whatformats-block wow fadeIn" data-wow-delay=".7s">
                  <div class="whatformats-block__header">
                      <div class="whatformats-block__head">
                          <h2 class="whatformats-block__head">Спустя какое время появится эффект от работы?</h2>
                      </div>
                  </div>
                  <div class="whatformats-block__description">
                      <p class="whatformats-block__description-text">Если говорить об эффекте от контекстной рекламы, то он заметен практически сразу после успешной модерации объявлений и запуска кампании. Эффект от контент-маркетинга и продвижения заметен примерно через 3 месяца (срок во многом зависит от сферы, исходного состояния сайта и бюджета).</p><a href="#" title="Развернуть описание" class="ac-more-link"><span class="ac-more-link__circle ac-more-link__circle-green"></span><span class="ac-more-link__circle ac-more-link__circle-green"></span><span class="ac-more-link__circle ac-more-link__circle-green"></span><span class="ac-more-link__text hide-text">Развернуть описание</span></a>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="wefine-btn-block"><a href="/faq" class="wefine-btn-link" <?php yaMetrikaClick('BtnAllFaq'); ?>>Остальные вопросы и ответы</a></div>
        </div>
      </div>
  </div>
</div><!-- /.faq-block-->
