<!-- .slider-container-->
<div class="slider-container">
    <div class="slider-wrapper owl-carousel owl-theme" id="sliderTop">
        <div class="slider-slide" data-index="0">
            <div class="header__bg-warp header__bg-warp0"></div>
            <div class="container-slider">
                <span class="screen-head">Охватить совершенно новую<br>целевую аудиторию через <br>публикации в СМИ, у блогеров, <br>видеоблогеров, лидеров мнений, <br>в пабликах соцсетей</span>
            </div>
        </div>
        <div class="slider-slide" data-index="1">
            <div class="header__bg-warp header__bg-warp1"></div>
            <div class="container-slider">
                <span class="screen-head">Поддержать свой бизнес <br>в высокий сезон, чтобы <br>получить ещё <br>больше продаж</span>
            </div>
        </div>
        <div class="slider-slide" data-index="2">
            <div class="header__bg-warp header__bg-warp2"></div>
            <div class="container-slider">
                <span class="screen-head">Обеспечить сайт качественным, <br>конверсионным трафиком даже <br>в периоды проблем с позициями <br>в выдаче</span>
            </div>
        </div>
        <div class="slider-slide" data-index="3">
            <div class="header__bg-warp header__bg-warp3"></div>
            <div class="container-slider">
                <span class="screen-head">Получать стабильные продажи, <br>если контекстная реклама <br>не работает из-за<br>отсутствия спроса</span>
            </div>
        </div>
        <div class="slider-slide" data-index="4">
            <div class="header__bg-warp header__bg-warp4"></div>
            <div class="container-slider">
                <span class="screen-head">Вывести бизнес на совершенно <br>новый уровень, оставив <br>конкурентов далеко позади</span>
            </div>
        </div>
    </div>
    <div class="slider-top-controls" id="sliderTopControls">
        <div class="slider__btn-block"><a href="#ac-popup-order" class="slider__btn-link popup-modal__order-link" data-screen="Первый экран">Подобрать площадки</a></div>
        <div class="slider-pagination"><a href="" class="slider-pagination__item slider-pagination__item-active"></a><a href="" class="slider-pagination__item"></a><a href="" class="slider-pagination__item"></a><a href="" class="slider-pagination__item"></a><a href="" class="slider-pagination__item"></a></div>
    </div>
    <div data-slidernav="#sliderTop">
        <div class="slider-button-next" data-route="next">
          <svg xmlns="http://www.w3.org/2000/svg" width="52" height="80" viewBox="0 0 52 80"><path id="top-slider-button-next" class="top-slider-button-ico top-slider-button-next" d="M1310,316l-40.44,40-11.55-11.428L1286.89,316l-28.88-28.57L1269.56,276l28.89,28.57h0Z" transform="translate(-1258 -276)"/></svg>
        </div>
        <div class="slider-button-prev" data-route="prev">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="40" viewBox="0 0 26 40"><path id="top-slider-button-prev" class="top-slider-button-ico top-slider-button-prev" d="M55.994,330.285L50.218,336,30,316l5.776-5.714h0L50.218,296l5.776,5.714L41.554,316Z" transform="translate(-30 -296)"/></svg>
        </div>
    </div>
</div>
<!-- /.slider-container-->
