<!-- .ac-tariff-->
<div id="ac-i-tariff" class="ac-tariff" data-block>
    <div class="tariff__bg">
        <div class="tariff__bg-warp">
          <div class="container">
            <div class="row" style="padding-bottom: 40px;">
              <div class="col-12 wow fadeIn" data-wow-delay=".1s">
                <h2 class="ac-head getresult-head">Что <span class="ac-head-white">вы получите</span> в результате рекламной кампании:</h2>
              </div>
            </div>
          </div>

          <div class="container">
              <div class="row bb2">
                  <div class="row-eq-height">

                      <div class="col-4">
                        <div class="getresult-block wow fadeIn" data-wow-delay=".6s">
                            <div class="getresult-block__header">
                                <div class="getresult-block__ico"><img src="/assets/images/getresult/ac-tariff1.png" alt="Приток клиентов"></div>
                                <div class="getresult-block__head">
                                    <h2 class="getresult-block__head">Приток клиентов</h2>
                                </div>
                            </div>
                            <div class="getresult-block__description">
                              <p>Рост позиций сайта в поиске, объявления контекстной рекламы и ссылки из тематического контента обеспечивают поток заинтересованных в вашем продукте посетителей</p>
                            </div>
                        </div>
                      </div>

                      <div class="col-4">
                        <div class="getresult-block wow fadeIn" data-wow-delay=".2s">
                            <div class="getresult-block__header">
                                <div class="getresult-block__ico"><img src="/assets/images/getresult/ac-tariff2.png" alt="Экономия денег"></div>
                                <div class="getresult-block__head">
                                    <h2 class="getresult-block__head">Экономия денег</h2>
                                </div>
                            </div>
                            <div class="getresult-block__description">
                              <p>Отсутствие наценок посредников и оптимизированные алгоритмы продвижения обеспечивают суммарную экономию до 50 % бюджета</p>
                            </div>
                        </div>
                      </div>
                      <div class="col-4">
                          <div class="getresult-block wow fadeIn" data-wow-delay=".4s">
                              <div class="getresult-block__header">
                                  <div class="getresult-block__ico"><img src="/assets/images/getresult/ac-tariff3.png" alt="Конкурентное преимущество"></div>
                                  <div class="getresult-block__head">
                                      <h2 class="getresult-block__head">Конкурентное преимущество</h2>
                                  </div>
                              </div>
                              <div class="getresult-block__description">
                                <p>Продвижение по нескольким каналам обеспечивает высокий охват целевой аудитории, повышает узнаваемость бренда и формирует имиджа лидера рынка</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="row-eq-height">

                      <div class="col-4">
                        <div class="getresult-block wow fadeIn" data-wow-delay=".6s">
                            <div class="getresult-block__header">
                                <div class="getresult-block__ico"><img src="/assets/images/getresult/ac-tariff4.png" alt="Экономия времени"></div>
                                <div class="getresult-block__head">
                                    <h2 class="getresult-block__head">Экономия времени</h2>
                                </div>
                            </div>
                            <div class="getresult-block__description">
                              <p>За счет удобства и простоты интерфейса системы разобраться с ней можно за 10 минут. Столько же потребуется для ежедневного анализа и мониторинга рекламной кампании</p>
                            </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="getresult-block wow fadeIn" data-wow-delay=".2s">
                            <div class="getresult-block__header">
                                <div class="getresult-block__ico"><img src="/assets/images/getresult/ac-tariff5.png" alt="Отсутствие рисков"></div>
                                <div class="getresult-block__head">
                                    <h2 class="getresult-block__head">Отсутствие рисков</h2>
                                </div>
                            </div>
                            <div class="getresult-block__description">
                              <p>Система мгновенно реагирует на изменения алгоритмов поисковых систем и рыночных трендов, из-за чего достигаются стабильно высокие результаты</p>
                            </div>
                        </div>
                      </div>
                      <div class="col-4">
                          <div class="getresult-block wow fadeIn" data-wow-delay=".4s">
                              <div class="getresult-block__header">
                                  <div class="getresult-block__ico"><img src="/assets/images/getresult/ac-tariff6.png" alt="Финансовая прозрачность"></div>
                                  <div class="getresult-block__head">
                                      <h2 class="getresult-block__head">Финансовая прозрачность</h2>
                                  </div>
                              </div>
                              <div class="getresult-block__description">
                                <p>По каждой кампании в режиме онлайн доступна развернутая финансовая отчетность за выбранный промежуток времени</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="container"><div class="row"><div class="col-12">
            <div class="box-btn">
              <a href="#ac-i-getresult" class="how-btn-link">Хочу продвинуть сайт!</a>
            </div>
          </div></div></div>
        </div>
    </div>
</div>
<!-- /.ac-tariff-->
