<div class="work-warp">
    <div class="work-warp__bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="ac-head work-head">Примеры работ</h2>
                </div>
            </div>
            <div class="row bb1">
                <div class="col-6">
                    <a class="work-block__big wow fadeIn" data-wow-delay=".2s" href="#ac-popup-case1" data-popup="example-works" data-tariff="">
                        <div class="popup-modal__case-link work-block__link">
                            <div class="work-block__big-header">
                                <div class="work-block__big-header-logo"><img src="assets/images/work/work1.png" alt=""></div>
                            </div>
                            <div class="work-block__big-description">
                                <div class="work-block__header-name">
                                    <h2 class="work-block__head">Игровые аксессуары</h2>
                                    <p class="work-block__big-description-text">Продвижение аксессуаров для компьютерных игр от кампании-производителя. Перед нами стояла задача по популяризации нескольких моделей игровых мышей среди геймеров.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-3">
                    <a class="work-block wow fadeIn" data-wow-delay=".5s" href="#ac-popup-case2" data-popup="example-works"  data-tariff="">
                        <div class="popup-modal__case-link work-block__link">
                            <div class="work-block__header">
                                <div class="work-block__header-logo"><img src="assets/images/work/work2.png" alt=""></div>
                                <div class="work-block__header-name">
                                    <h2 class="work-block__head">Транспортные услуги</h2>
                                </div>
                            </div>
                            <div class="work-block__header-description">
                                <p class="work-block__description-text">Кампания для онлайн-сервиса перевозок. Решение задачи выхода на новую аудиторию в высококонкурентной сфере.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-3">
                    <a class="work-block wow fadeIn" data-wow-delay=".5s"  href="#ac-popup-case3" data-popup="example-works"  data-tariff="">
                        <div class="popup-modal__case-link work-block__link">
                            <div class="work-block__header">
                                <div class="work-block__header-logo"><img src="assets/images/work/work3.png" alt=""></div>
                                <div class="work-block__header-name">
                                    <h2 class="work-block__head">Конструктор сайтов</h2>
                                </div>
                            </div>
                            <div class="work-block__header-description">
                                <p class="work-block__description-text">Продвижение конструктора сайтов среди вебмастеров, частных предпринимателей и владельцев малого бизнеса.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="work__btn-block wow fadeIn" data-wow-delay=".6s"><a href="#ac-popup-order" class="work__btn-link popup-modal__order-link" data-screen="Примеры работ">хочу также</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
