<div class="work-warp">
    <div class="work-warp__bg">
        <div class="container">
            <div class="row bb2">
                <div class="col-12">
                    <h2 class="ac-head work-head">Примеры работ</h2>
                </div>
            </div>
          <?php /*
            <div class="row bb1">
              <div class="col-12">
                <div class="work-types">

                  <div class="work-type" id="seo">
                    <div class="work-type_box">
                      <div class="work-type_icon">
                        <div class="work-type_icon-box"><img src="/assets/images/work/work1.png" alt="Примеры работ: SEO"></div><!-- /.work-type_icon-box -->
                      </div><!-- /.work-type_icon -->
                      <div class="work-type_name"><span>SEO</span></div><!-- /.work-type_name -->
                    </div><!-- /.work-type_box -->
                  </div><!-- /.work-type -->

                  <div class="work-type" id="seo">
                    <div class="work-type_box">
                      <div class="work-type_icon">
                        <div class="work-type_icon-box"><img src="/assets/images/work/work2.png" alt="Примеры работ: Контекстная реклама"></div><!-- /.work-type_icon-box -->
                      </div><!-- /.work-type_icon -->
                      <div class="work-type_name"><span>Контекстная <br> реклама</span></div><!-- /.work-type_name -->
                    </div><!-- /.work-type_box -->
                  </div><!-- /.work-type -->

                  <div class="work-type active" id="seo">
                    <div class="work-type_box">
                      <div class="work-type_icon">
                        <div class="work-type_icon-box"><img src="/assets/images/work/work3.png" alt="Примеры работ: Размещение в роликах YouTube-блогеров"></div><!-- /.work-type_icon-box -->
                      </div><!-- /.work-type_icon -->
                      <div class="work-type_name"><span>Размещение в <br> роликах <br> YouTube-блогеров</span></div><!-- /.work-type_name -->
                    </div><!-- /.work-type_box -->
                  </div><!-- /.work-type -->

                  <div class="work-type" id="seo">
                    <div class="work-type_box">
                      <div class="work-type_icon">
                        <div class="work-type_icon-box"><img src="/assets/images/work/work4.png" alt="Примеры работ: Публикации на страницах ЖЖ-блогеров"></div><!-- /.work-type_icon-box -->
                      </div><!-- /.work-type_icon -->
                      <div class="work-type_name"><span>Публикации на <br> страницах <br> ЖЖ-блогеров</span></div><!-- /.work-type_name -->
                    </div><!-- /.work-type_box -->
                  </div><!-- /.work-type -->

                  <div class="work-type" id="seo">
                    <div class="work-type_box">
                      <div class="work-type_icon">
                        <div class="work-type_icon-box"><img src="/assets/images/work/work5.png" alt="Примеры работ: Публикации в экспертных блогах"></div><!-- /.work-type_icon-box -->
                      </div><!-- /.work-type_icon -->
                      <div class="work-type_name"><span>Публикации в <br> экспертных блогах</span></div><!-- /.work-type_name -->
                    </div><!-- /.work-type_box -->
                  </div><!-- /.work-type -->

                  <div class="work-type" id="seo">
                    <div class="work-type_box">
                      <div class="work-type_icon">
                        <div class="work-type_icon-box"><img src="/assets/images/work/work6.png" alt="Примеры работ: Реклама в пабликах социальных сетей"></div><!-- /.work-type_icon-box -->
                      </div><!-- /.work-type_icon -->
                      <div class="work-type_name"><span>Реклама в пабликах <br> социальных сетей</span></div><!-- /.work-type_name -->
                    </div><!-- /.work-type_box -->
                  </div><!-- /.work-type -->

                  <div class="work-type" id="seo">
                    <div class="work-type_box">
                      <div class="work-type_icon">
                        <div class="work-type_icon-box"><img src="/assets/images/work/work7.png" alt="Примеры работ: Таргетированная реклама в социальных сетях"></div><!-- /.work-type_icon-box -->
                      </div><!-- /.work-type_icon -->
                      <div class="work-type_name"><span>Таргетированная <br> реклама в социальных <br> сетях</span></div><!-- /.work-type_name -->
                    </div><!-- /.work-type_box -->
                  </div><!-- /.work-type -->

                  <div class="work-type" id="seo">
                    <div class="work-type_box">
                      <div class="work-type_icon">
                        <div class="work-type_icon-box"><img src="/assets/images/work/work8.png" alt="Примеры работ: PR-статьи"></div><!-- /.work-type_icon-box -->
                      </div><!-- /.work-type_icon -->
                      <div class="work-type_name"><span>PR-статьи</span></div><!-- /.work-type_name -->
                    </div><!-- /.work-type_box -->
                  </div><!-- /.work-type -->

                  <div class="work-type" id="seo">
                    <div class="work-type_box">
                      <div class="work-type_icon">
                        <div class="work-type_icon-box"><img src="/assets/images/work/work9.png" alt="Примеры работ: Публикации в сообществах"></div><!-- /.work-type_icon-box -->
                      </div><!-- /.work-type_icon -->
                      <div class="work-type_name"><span>Публикации в <br> сообществах</span></div><!-- /.work-type_name -->
                    </div><!-- /.work-type_box -->
                  </div><!-- /.work-type -->

                  <div class="work-type" id="seo">
                    <div class="work-type_box">
                      <div class="work-type_icon">
                        <div class="work-type_icon-box"><img src="/assets/images/work/work10.png" alt="Примеры работ: Естественные ссылки и нативная реклама"></div><!-- /.work-type_icon-box -->
                      </div><!-- /.work-type_icon -->
                      <div class="work-type_name"><span>Естественные ссылки <br> и нативная реклама</span></div><!-- /.work-type_name -->
                    </div><!-- /.work-type_box -->
                  </div><!-- /.work-type -->

                </div><!-- /.work-types -->
              </div>
            </div>
          */ ?>

            <div class="row">

              <div class="works-example">

                <div class="work-card">
                  <div class="work-card-box">
                    <div class="work-card_logo"><img src="/assets/images/work/kichenaid.png" alt=""></div><!-- /.work-card_logo -->
                    <div class="work-card_url">kichenaid.ru</div><!-- /.work-card_url -->
                    <div class="work-card_project-info">официальный сайт бренда Китчен Эйд в России <br> (техника для кухни премиум-сегмента).</div><!-- /.work-card_project-info -->
                    <div class="work-card_info">

                      <div class="work-card_info_item">
                        <div class="work-info-name">Площадка:</div>
                        <div class="work-info-v">кулинарный канал “Покашеварим”</div>
                      </div>

                      <div class="work-card_info_item">
                        <div class="work-info-name">Формат:</div>
                        <div class="work-info-v work-info-v-mini">упоминание продукта заказчика в видеоролике, анонс акции + активная ссылка в описании</div>
                      </div>

                      <div class="work-card_info_item">
                        <div class="work-info-name">стоимость контента и публикации:</div>
                        <div class="work-info-v">4400 рублей</div>
                      </div>

                      <div class="work-card_info_item">
                        <div class="work-info-name">охват:</div>
                        <div class="work-info-v">19641 человек</div>
                      </div>

                      <div class="work-card_info_item">
                        <div class="work-info-name">переходов на сайт заказчика:</div>
                        <div class="work-info-v">422</div>
                      </div>

                      <div class="work-card_info_item">
                        <div class="work-info-name">цена за 1 просмотр:</div>
                        <div class="work-info-v">0,22 руб.</div>
                      </div>

                      <div class="work-card_info_item">
                        <div class="work-info-name">цена за 1 переход:</div>
                        <div class="work-info-v">10,42 руб.</div>
                      </div>

                      <div class="work-card_info_item">
                        <div class="work-info-name">CTR:</div>
                        <div class="work-info-v">2,1%</div>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="work-card">
                  <div class="work-card-box">
                    <div class="work-card_logo"><img src="/assets/images/work/airpromvent.png" alt=""></div><!-- /.work-card_logo -->
                    <div class="work-card_url">airpromvent.ru</div><!-- /.work-card_url -->
                    <div class="work-card_project-info">Вентиляционное и климатическое оборудование</div><!-- /.work-card_project-info -->
                    <div class="work-card_info">

                      <div class="work-card_info_item">
                        <div class="work-info-name">Площадка:</div>
                        <div class="work-info-v">авторский канал DIY-тематики с активной взрослой аудиторией</div>
                      </div>

                      <div class="work-card_info_item">
                        <div class="work-info-name">Формат:</div>
                        <div class="work-info-v work-info-v-mini">упоминание в видеоролике + активная ссылка в описании</div>
                      </div>

                      <div class="work-card_info_item">
                        <div class="work-info-name">стоимость контента и публикации:</div>
                        <div class="work-info-v">3895 руб.</div>
                      </div>

                      <div class="work-card_info_item">
                        <div class="work-info-name">охват:</div>
                        <div class="work-info-v">327 940 просмотров</div>
                      </div>

                      <div class="work-card_info_item">
                        <div class="work-info-name">переходов на сайт заказчика:</div>
                        <div class="work-info-v">4666</div>
                      </div>

                      <div class="work-card_info_item">
                        <div class="work-info-name">цена за 1 просмотр:</div>
                        <div class="work-info-v">0,01 руб.</div>
                      </div>

                      <div class="work-card_info_item">
                        <div class="work-info-name">цена за 1 переход:</div>
                        <div class="work-info-v">0,83 руб.</div>
                      </div>

                      <div class="work-card_info_item">
                        <div class="work-info-name">CTR:</div>
                        <div class="work-info-v">1,4%</div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>

            </div>
        </div>
    </div>
</div>
