#sliderTop .owl-stage-outer{
    height: 800px;
}

.step-blocks.owl-carousel .step-block{
        margin-left: 240px;
}
.step-indicator__bubble{
    cursor: pointer;
}

.ac-popup-modal .some-tariffs .some-tariff__block.selected {
  border-color: #39dd00;
}