#sliderTop .owl-stage-outer{
    height: 800px;
}


.step-blocks.owl-carousel .owl-item{

}
.step-indicator__bubble{
    cursor: pointer;
}

.ac-popup-modal .some-tariffs .some-tariff__block.selected {
    border-color: #39dd00;
}

.tariff-navigator__item{
    cursor: pointer;
}

.tariff-navigator__item.next_tariff{
    margin-left: 240px;
}

#tariffSlider .tariff-block{
    position: relative;
}
.ac-popup-modal__body{
    margin-top: 5px;
}
#tariffSlider .tariff-navigator__ico{
    position: absolute;
    top: -140px;
    left: 309px;
}
#tariffSlider .owl-stage-outer{
    overflow: visible;
}
#lbTariffSlider .owl-stage-outer{
    height: 300px;
}
#lbTariffSlider{
    width: 1080px;
    margin: 0 auto;
    position: relative;
}
#lbTariffSlider .col-tariff{
    margin-top: 70px;
}

#tariffSlider .owl-item{
    opacity: 0.7;
}
#tariffSlider .owl-item.active{
    opacity: 1;
}

.whatformats-block{
    position: relative;
    cursor: default;
}

.ac-more-link{
    cursor: pointer;
}

.whatformats-block__description-text{
    max-height: 90px;
    overflow: hidden;
}


.whatformats-block.expand{
    position: absolute;
    top:-1px;
    left:-1px;
    background-color: #fff;
    border: 1px solid #dedede;
    z-index: 99999;
}
.ac-whatformats .whatformats-block.expand {
    background-color: #fff;
    border: 1px solid #dedede;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 10px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 10px 0 rgba(0,0,0,0.1);
    -ms-box-shadow: 0 10px 0 rgba(0,0,0,0.1);
    -o-box-shadow: 0 10px 0 rgba(0,0,0,0.1);
    box-shadow: 0 10px 0 rgba(0,0,0,0.1);
    z-index: 12;
    cursor: pointer;
}

.whatformats-block.expand .ac-more-link{
    display: none
}


.whatformats-block.expand .whatformats-block__description-text{
    max-height: 800px;
    overflow: visible;
}

//slider nav
.lb-tariff-slider{
    position: relative;
}
.slider-nav{
    position: absolute;
    width: 100%;
}
.slider-nav.some-tariffs-nav{
    top: 270px;
}

.slider-step-row{
    position: relative;
}
.slider-nav.step-blocks-nav{
    top: 36px;
}

.slider-nav .slider-nav_next,
.slider-nav .slider-nav_prev
{
    position: absolute;
    cursor: pointer;
}
.slider-nav .slider-nav_next{
    right: 15px;
    top: -20px;
    width: 26px;
    height: 40px;
    display: block;
    background: #fff url('../images/youadv/right.png') 0 0 no-repeat;
    text-indent: -9999px;
    transition: all 0.4s ease;
}
.slider-nav .slider-nav_prev{
    left: 15px;
    top: -20px;
    display: block;
    width: 26px;
    height: 40px;
    background: #fff url('../images/youadv/left.png') 0 0 no-repeat;
    text-indent: -9999px;
    transition: all 0.4s ease;
}


.slider-nav.step-blocks-nav  .slider-nav_next{
    right: -40px;
    top: -10px;

}

.slider-nav.step-blocks-nav  .slider-nav_prev{
    left: -40px;
    top: -10px;

}
.slider-nav  .slider-nav_next:hover,
.slider-nav  .slider-nav_prev:hover {
    opacity: .75;
}

.line-block .price{
    white-space: nowrap;
}

.owl-carousel .owl-item img {
    width: auto!important;
}
.ac-logo{
    text-decoration: none;
}

.slider-nav.step-blocks-nav  .slider-nav_next.hide,
.slider-nav.step-blocks-nav  .slider-nav_prev.hide{
    opacity: 1;
}

.slider-nav.step-blocks-nav  .slider-nav_next.hide,
.slider-nav.step-blocks-nav  .slider-nav_prev.hide{
    opacity: 0;
}

.ac-whatformats .col-f3{
    position: relative;
}

.slider-container .slider-top-controls{
    position: absolute;
    left: 170px;
    top: 420px;
    z-index: 99;
}
.ac-tariff{
    clear:both;
}

#sliderStep .owl-item{
    min-width: 700px!important;
}

.ac-tariff .owl-item{
    min-width: 860px!important;
}

.work-block__big,.work-block{
    text-decoration: none;
    display: block;
}

.ac-footer__right-block{
    position: relative;
}

.utl_btn-footer{
    display: inline-block;
    position: absolute;
    left: 0;
    top: -4px;
}

.white-popup{
    background: #fff;
    max-width: 400px;
    padding: 30px;
    margin: 0 auto;
    position: relative;
    font-size: 16px;
}

.white-popup .mfp-close{
    position: absolute;
}



@media screen and (max-width: 1340px){
    #sliderStep .owl-item{
        width: 700px!important;
    }

    #sliderStep .owl-stage{
        width: 4100px!important;
    }

}

#ac-popup-mini .ac-popup-modal__header{
    padding-bottom: 40px;
}
/* .ac-popup-modal .form-group.required input{
    background-color: rgba(236, 89, 101, 0.14);
} */
.ac-popup-modal  input.form-control,
.ac-popup-modal textarea.form-control{
    background-color: #ebebeb;
    border: 3px solid #ebebeb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    padding: 8px 20px;
    width: 100%;
    color: #363636;
    font-family: 'Panton';
    font-size: 18px;
    font-weight: 400;
}

.footer__confidential {
  display: block;
  position: absolute;
  width: 230px;
  right: 0;
  bottom: -34px;
  line-height: 14px;
}

.footer__confidential a {
  color: #ADB2B2;
  font-size: 12px;
  text-decoration: none;
}

.footer__confidential a:hover {
  text-decoration: underline;
  color: #ec5965;
}

.form-check {
	position: relative;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

.form-check label {
  min-height: 20px;
  padding-left: 10px;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
  color: rgb(44, 49, 51);
  font-family: Arial;
  font-size: 14px;
}

.form-check input[type=checkbox], .form-check input[type=radio] {
	position: absolute;
	margin-top: 4px\9;
	margin-left: -20px;
}

.form-check {
	padding-left: 30px;
	cursor: pointer;
}

.form-check label {
  position: relative;
}

.form-check span, .form-check div {
}

.form-check span:before, .form-check span:after, .form-check div:before, .form-check div:after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.form-check input {
}

.form-check input[type="radio"], .form-check input[type="checkbox"]{
  display: none;
}

/* .form-check .form-check-control {
  color: rgb(44, 49, 51);
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px
} */

.form-check .form-check-control:before{
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(233, 239, 240);
  border-radius: 2px;
  left: -30px;
  box-sizing: border-box;
  transition: all 0.2s;
}
.form-check .form-check-control.error{
    color:#ec5965;
}
.form-check .form-check-control.error:before{
    border-color: #ec5965;
}


.form-check .form-check-control:hover:before{
  border: 1px solid rgb(195, 200, 204);
}

.form-check .form-check-control:after{
  width: 14px;
  height: 11px;
  background-position: 50% 50%;
  background-image: none;
  text-indent: -9999px;
  background-repeat: no-repeat;
  display: inline-block;
  overflow: hidden;
  left: -27px;
  top: 0px;
  color: transparent;
  transition: color 0.2s;
}

.form-check input[type="checkbox"]:checked + label .form-check-control:after {
  color: #62afff;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMidYMid' width='12' height='9' viewBox='0 0 12 9' fill='%23ffffff'%3E%3Cpath d='M1.414 2.261L5 6.048 10.586 0 12 1.475 5 8.999 0 3.737l1.414-1.476z' class='f-icon check-small'/%3E%3C/svg%3E");
}

.form-check input[type="checkbox"]:checked + label .form-check-control:before {
  background-color: rgb(66, 204, 5);
  border-color: rgb(66, 204, 5);
}

.form-check input[type="checkbox"]:checked + label .form-check-control:hover:before {
  background-color: rgb(82, 225, 19);
  border-color: rgb(82, 225, 19);
}

.container-modal .form-check {
  text-align: left;
  margin-bottom: 14px;
  padding-left: 65px;
  padding-left: 65px;
}

.container-modal .form-check a {
  color: #ec5965;
  border-bottom: 1px solid rgba(236,88,100,.8);
  text-decoration: none;
}

.container-modal .form-check a:hover {
  color: #000;
  border-bottom-color: rgba(0,0,0,.8);
}

.container-modal .form-check label {
  padding-left: 0;
}

.container-modal .form-check label .form-check-control {
  font-size: 12px;
  line-height: 14px;
  display: block;
}

@media screen and (max-width: 1200px){
    #sliderStep .owl-item{
        width: 750px!important;
    }

    #sliderStep .owl-stage{
        width: 4400px!important;
    }

    #tariffSlider .owl-stage{
        width: 6600px!important;
    }

}
