#sliderTop .owl-stage-outer{
    height: 800px;
}

.step-blocks.owl-carousel .step-block{
    margin-left: 240px;
}
.step-indicator__bubble{
    cursor: pointer;
}

.ac-popup-modal .some-tariffs .some-tariff__block.selected {
    border-color: #39dd00;
}

.tariff-navigator__item{
    cursor: pointer;
}

.tariff-navigator__item.next_tariff{
    margin-left: 190px;
}

#tariffSlider .tariff-block{
    position: relative;
}
.ac-popup-modal__body{
    margin-top: 5px;
}
#tariffSlider .tariff-navigator__ico{
    position: absolute;
    top: -140px;
    left: 300px;
}
#tariffSlider .owl-stage-outer{
    overflow: visible;
}
#lbTariffSlider .owl-stage-outer{
    height: 300px;
}
#lbTariffSlider{
    width: 1080px;
    margin: 0 auto;
    position: relative;
}
#lbTariffSlider .col-tariff{
    margin-top: 70px;
}

#tariffSlider .owl-item{
    opacity: 0.7;
}
#tariffSlider .owl-item.active{
    opacity: 1;
}

.whatformats-block{
    position: relative;
    cursor: default;
}

.ac-more-link{
    cursor: pointer;
}

.whatformats-block__description-text{
    max-height: 90px;
    overflow: hidden;
}


.whatformats-block.expand{
    position: absolute;
    top:0;
    left:0;
    background-color: #fff;
    border: 1px solid #dedede;
}
.whatformats-block.no-border:hover{
    border-width: 0;
    transition:none;
}

.whatformats-block.expand .whatformats-block__description-text{
    max-height: 800px;
    overflow: visible;
}

//slider nav
.lb-tariff-slider{
    position: relative;
}
.slider-nav{
    position: absolute;
    width: 100%;
}
.slider-nav.some-tariffs-nav{
    top: 270px;
}
.slider-nav .slider-nav_next,
.slider-nav .slider-nav_prev
{
    position: absolute;
    cursor: pointer;
}
.slider-nav .slider-nav_next{
    right: 20px;
}
.slider-nav .slider-nav_prev{
    left: 20px;
}

.line-block .price{
    white-space: nowrap;
}