#sliderTop .owl-stage-outer{
    height: 800px;
}


.step-blocks.owl-carousel .owl-item{

}
.step-indicator__bubble{
    cursor: pointer;
}

.ac-popup-modal .some-tariffs .some-tariff__block.selected {
    border-color: #39dd00;
}

.tariff-navigator__item{
    cursor: pointer;
}

.tariff-navigator__item.next_tariff{
    margin-left: 240px;
}

#tariffSlider .tariff-block{
    position: relative;
}
.ac-popup-modal__body{
    margin-top: 5px;
}
#tariffSlider .tariff-navigator__ico{
    position: absolute;
    top: -140px;
    left: 300px;
}
#tariffSlider .owl-stage-outer{
    overflow: visible;
}
#lbTariffSlider .owl-stage-outer{
    height: 300px;
}
#lbTariffSlider{
    width: 1080px;
    margin: 0 auto;
    position: relative;
}
#lbTariffSlider .col-tariff{
    margin-top: 70px;
}

#tariffSlider .owl-item{
    opacity: 0.7;
}
#tariffSlider .owl-item.active{
    opacity: 1;
}

.whatformats-block{
    position: relative;
    cursor: default;
}

.ac-more-link{
    cursor: pointer;
}

.whatformats-block__description-text{
    max-height: 90px;
    overflow: hidden;
}


.whatformats-block.expand{
    position: absolute;
    top:-1px;
    left:-1px;
    background-color: #fff;
    border: 1px solid #dedede;
    z-index: 99999;
}
.ac-whatformats .whatformats-block.expand {
    background-color: #fff;
    border: 1px solid #dedede;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 10px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 10px 0 rgba(0,0,0,0.1);
    -ms-box-shadow: 0 10px 0 rgba(0,0,0,0.1);
    -o-box-shadow: 0 10px 0 rgba(0,0,0,0.1);
    box-shadow: 0 10px 0 rgba(0,0,0,0.1);
    z-index: 12;
    cursor: pointer;
}

.whatformats-block.expand .ac-more-link{
    display: none
}


.whatformats-block.expand .whatformats-block__description-text{
    max-height: 800px;
    overflow: visible;
}

//slider nav
.lb-tariff-slider{
    position: relative;
}
.slider-nav{
    position: absolute;
    width: 100%;
}
.slider-nav.some-tariffs-nav{
    top: 270px;
}

.slider-step-row{
    position: relative;
}
.slider-nav.step-blocks-nav{
    top: 36px;
}

.slider-nav .slider-nav_next,
.slider-nav .slider-nav_prev
{
    position: absolute;
    cursor: pointer;
}
.slider-nav .slider-nav_next{
    right: 15px;
    top: -20px;
    width: 26px;
    height: 40px;
    display: block;
    background: #fff url('../images/youadv/right.png') 0 0 no-repeat;
    text-indent: -9999px;
    transition: all 0.4s ease;
}
.slider-nav .slider-nav_prev{
    left: 15px;
    top: -20px;
    display: block;
    width: 26px;
    height: 40px;
    background: #fff url('../images/youadv/left.png') 0 0 no-repeat;
    text-indent: -9999px;
    transition: all 0.4s ease;
}


.slider-nav.step-blocks-nav  .slider-nav_next{
    right: -40px;
    top: -10px;

}

.slider-nav.step-blocks-nav  .slider-nav_prev{
    left: -40px;
    top: -10px;

}
.slider-nav  .slider-nav_next:hover,
.slider-nav  .slider-nav_prev:hover {
    opacity: .75;
}

.line-block .price{
    white-space: nowrap;
}

.owl-carousel .owl-item img {
    width: auto!important;
}
.ac-logo{
    text-decoration: none;
}

.slider-nav.step-blocks-nav  .slider-nav_next.hide,
.slider-nav.step-blocks-nav  .slider-nav_prev.hide{
    opacity: 1;
}

.slider-nav.step-blocks-nav  .slider-nav_next.hide,
.slider-nav.step-blocks-nav  .slider-nav_prev.hide{
    opacity: 0;
}

.ac-whatformats .col-f3{
    position: relative;
}

.slider-container .slider-top-controls{
    position: absolute;
    left: 170px;
    top: 420px;
    z-index: 99;
}
.ac-tariff{
    clear:both;
}

#sliderStep .owl-item{
    min-width: 700px!important;
}

.ac-tariff .owl-item{
    min-width: 860px!important;
}
/* 
.ac-tariff .tariff-navigator {
    margin-left: 86px;
} */

@media screen and (max-width: 1340px){
    #sliderStep .owl-item{
        width: 700px!important;
    }

    #sliderStep .owl-stage{
        width: 4100px!important;
    }

}
